.root {
  --primary-color: #32050e;
  --secondary-color: #df9c60;
  --box-shadow: 0 5px 10px#f5f5f5;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.container {
  background-color: #df9c60;
  border-radius: 4px;
  max-width: 700px;
  color: #32050e;
}

.main-heading {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 3px 5px #32050e;
}

.home-link {
  color: white;
}
.home-link:hover {
  text-decoration: none;
  color: rgb(243, 221, 99);
}

.photo-link {
  border: 0.5px solid #32050e;
  color: white;
}
.photo-link:hover {
  text-decoration: none;
  color: rgb(243, 221, 99);
}

.contact-link {
  color: white;
  border: 1px solid #32050e;
}

.contact-link:hover {
  text-decoration: none;
  color: rgb(243, 221, 99);
}
.image-1,
.image-2,
.image-3,
.image-4 {
  margin: 0 auto;
  display: block;
  max-width: 250px;
  max-height: 300px;
  border-radius: 4%;
  border: 2px solid whitesmoke;
}

.paragraphs p {
  margin: 10px;
}

.email-link {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: rgb(243, 221, 99);
}

.email-link:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(233, 93, 0);
}

h2 {
  text-align: center;
  display: 0 auto;
}
